.sidebar {
    background-image: linear-gradient(90deg, rgb(24, 224, 181), rgb(156, 245, 218));
    color: #fff;
    width: 250px;
    padding: 20px;
    height: 100vh;
    
    top: 0;
    left: 0;
  }  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px; /* Add some spacing */
  }
  
  .sidebar li {
    padding: 10px;
  }
  
  .sidebar li a {
    text-decoration: none;
    color: #eee9e9;
    font-weight: bold;
  }
  
  .sidebar i{
    margin: 10px;
  }
  /* this style for dashBoard so the style name is different we called this style name sidebar2*/
  .sidebar2 {
    position: relative;
    background-image: linear-gradient(90deg, rgb(24, 224, 181), rgb(156, 245, 218));
    color: #fff;
    width: 200px;
    padding: 20px;
    height: 90vh;
    top: 0;
    left: 0;
  }
  .sidebar2 ul {
    list-style: none;
    padding: 0;
    margin-top: 20px; /* Add some spacing */
  }
  
  .sidebar2 li {
    padding: 10px;
  }
  
  .sidebar2 li a {
    text-decoration: none;
    color: #eee9e9;
    font-weight: bold;
  }  
  .sidebar2 i{
    margin: 10px;
  }
  .sidebar2 .logout{
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .sidebar2 .logout a{
   text-decoration: none;
   color: black;
   font-weight: bold;
  }